[submodule "02-todo"]
	path = 02-todo
	url = git@github.com:MarconWillian/_ignite-todo.git
[submodule "03-watchme"]
	path = 03-watchme
	url = git@github.com:MarconWillian/_ignite-watchme.git
[submodule "04-dt-money"]
	path = 04-dt-money
	url = git@github.com:MarconWillian/_ignite-dt-money.git
[submodule "05-shopping-cart"]
	path = 05-shopping-cart
	url = git@github.com:MarconWillian/_ignite-shopping-cart.git
[submodule "06-ignews"]
	path = 06-ignews
	url = git@github.com:MarconWillian/_ignite-ignews.git
